@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--navbar-height: 75px;
	--sidebar-width: 250px;
	--backdrop-color: rgba(0, 0, 0, 0.25);
	--main-bg-color: #f3f3f3;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

#root,
body {
	min-height: 100vh;
	min-width: 100%;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--main-bg-color);
}
