@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--navbar-height: 90px;
	--sidebar-width: 250px;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

#root,
body {
	min-height: 100vh;
	min-width: 100%;
}

body {
	margin: 0;
	padding: 0;
}
